
h1 {
  font-size: var(--heading1-size);
  font-weight: var(--bold-weight);
  color: var(--primary-color);
}

.layout-section{
  display: flex;
  justify-content: space-between;
}
.layout-content, .layout-sidebar{
  padding: 20px;
}
.layout-content{
  width: 100%;
}
.layout-sidebar{
  width: 20%;
  display: flex;
  justify-content: center;
}