:root {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  padding: 1em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --heading1-size: 40px;
  --heading2-size: 24px;
  --large-size: 18px;
  --medium-size: 16px;
  --small-size: 14px;

  --regular-weight: 400;
  --light-bold:500;
  --bold-weight: 700;
}


ul{
  list-style: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212529;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
.character-card{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}
.character-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pagination-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  margin-top: 30px;
}
.pagination-info{
  color: var(--tertiary-color);
  font-size: var(--medium-size);
  font-weight: var(--regular-bold);
}
.rows-per-page-select, .rows-per-page{
  color: var(--tertiary-color);
  font-size: var(--medium-size);
  font-weight: var(--regular-bold);
}
.rows-per-page-select{
  margin: 0 3px;
  border: 1px solid rgba(241, 241, 241, 1);
  padding: 3px;
}
.page-btn{
  outline: none;
  border: 1px solid rgba(241, 241, 241, 1);
  padding: 6px 10px;
  color: var(--tertiary-color);
  background-color: var(--info-color);
  font-size: var(--medium-size);
  font-weight: var(--light-bold);
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
}
.page-btn-active{
  color: var(--info-color);
  border-color:rgba(39, 99, 170, 1) ;
  background-color: rgba(39, 99, 170, 1); 
}
input, select{
  padding: 10px;
  min-width: 280px;
  margin-right: 20px;
}